*{
    direction: rtl;
}
.modal-account{
    height:0px;
    width: 100vw;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, 0.8);
    overflow-y: hidden;
    transition: 0.5s;
}
.modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
}
.modal-contentt{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    color: var(--bs-modal-color);
    pointer-events: auto;
    background-color:#fff;
    background-clip: padding-box;
    border:0px solid rgba(0,0,0,.2);
    border-radius: 0.3rem;
    outline: 0;
}
.modal-header-account{
    padding: 0px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.panel{
    background-color: #5241d5;
    border: 0px;
    width: 100%;
    text-align: center;
    padding: 1rem 1rem;
}
.modal-body-account{
    position: relative;
    flex: 1 1 auto;
    padding: 1rem;
}
.input-group-text{
    border:  #3929bc;
    background-color:  #3929bc;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.account-detail{
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1,1fr);
}
.detail-account{
    display: grid;
    align-items: baseline;
    grid-template-columns: repeat(12,1fr);
    gap: 20px;
}
.detail-account h5{
    grid-column:1/4 ;
}
.detail-account p {
    padding: 6px 12px;
    grid-column: 4/13;
    border: 1px solid rgba(0, 0, 0, 0.24);
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 8px;
}
.btn-account-exit{
    all: unset;
    background: #5241d5;
    color: white;
    padding: 10px 20px;
    border-radius: 12px;
    margin: 0px 0px 0px auto;
}
.btn-account-exit:hover{
    font-weight: bold;
    transform: translateY(-10px);
    transition: transform 0.5s;
}
@media screen and (max-width:500px) {
    .modal-dialog{
        margin: 0px auto;
    }
    .detail-account h5{
        grid-column: 1/5;
    }
    .detail-account p {
        grid-column: 5/13;
    }
    
}
@media screen and (max-width:376px) {
    .detail-account h5{
        grid-column: 1/13;
    }
    .detail-account p {
        grid-column: 1/13;
    }
    
}