.header-register p{
    margin: 20px 0px;
    font-size: 13px;
    color: rgb(108,117,125)
}
.register-form{
    background-image: url('../img/graph.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 650px;
    height: 490px;
}
.lottory-wheels{
    position: absolute;
}
.lottory-wheels svg {
    width: 250px;
    height: 250px;
    margin-right: 155px;
    margin-top: 85px;
}