body{
  overflow-x: hidden;
}
.main{
  display: grid;
  grid-template-columns: 60% 40%;
  gap: 30px;
  margin: 0px 88px;
}
.main-content{
    margin: 0px 0px 0px 0px;
}
.search-box div:nth-child(1){
    padding: 10px;
    border-right: 2px solid #5B57C9;
}
.article{
  margin-left: 3rem !important;
}
.formm-search{
    position: relative;
    top: 8%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .formm-search input[type=search] {
    border-radius: 40px;
    padding: 15px;
    font-size: 17px;
    border: none;
    float: left;
    width: 100%;
    background:var(--bs-light);
    height: 45px;
   }
   .formm-search input[type=search]:hover {
    background: #f1f1f1;
  }
  .formm-search button {
    display: flex;
    justify-content: center;
    align-items: center;
   background-color: inherit;
   position: absolute;
   margin-right: 85%;
   border-top-left-radius: 40px;
   border-bottom-left-radius: 40px;
   background-color: #7B78E8;
   width: 18%;
   height:-webkit-fill-available;
   padding: 16.5px;
   font-size: 17px;
   border: none;
   cursor: pointer;
  }
  .main-content div:nth-child(1){
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 20px;
  }
 .header-lottory{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  gap: 20px;
 }
@media screen and (max-width:991.5px) {
    .main{
        display: grid;
        grid-template-columns: 60% 40%;
        margin: 0px 0px 0px 0px;
    }

}
@media screen and (max-width:600px) {
    .main{
        display: flex;
        flex-direction: column;
        
    }
    .article{
      margin-left: 0rem !important;
    }
    
}